<%- include ('header') -%>
<div class="container">
    <form>
        <input type="='text" placeholder="Full Name"/>
        <input type="='email" placeholder="@-mail" />
        <textarea cols="30" rows="10"></textarea>
        <div class="btns">
            <button>send</button>
            <button>reset</button>
        </div>
    </form>
</div>
<%- include ('footer') -%>