<%- include ('header') -%>
<div class="container acceuil">
    <h1>Welcome</h1>
    <div class="btns">
        <button>Register</button>
        <button>Log In</button>
    </div>
</div>

<%- include ('footer') -%>